/* UTILITIES */
:root {
    --air-red :#FF3858;
}

/* HEADER */
header.bg-white {
    transition: all 1s ease-in-out .5s;
}

.big-searchbar {
    opacity: 1;
    height: 100%;
    transition: all 1s ease-in-out;
}

.big-searchbar.hide-me  {
    opacity: 0;
    height: 0;
}

.air-red-bg {
    background-color: var(--air-red);
}

/* HOME */
.hero-setion {
    min-height: 75vh;
    background-color: black;
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
}

/*.imm-an {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
}*/
/* MAIN */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.titCard{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0;
}
.descrizione{
    font-size: small;
    color: grey;
    margin-bottom: 0;
}
.voto svg{
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}

/*andreaprimo.16/05*/
.im-1 {
    background-image: url(../img/propic.png);
    background-size: cover;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.fa-person-swimming, .fa-key, .fa-location-dot {
    font-size: 1.7em;
}

.p-icon{
    padding: 0.25rem 0.25rem 0.75rem 0.75rem;
}

.p-and {
    background-color: bisque;
    border-radius: 10px;
}

.a-and {
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

#calendar {
    max-width: 650px;
    margin: 20px 0px;
    color: black;
  }

  .stto-and {
    top: 60px;
    margin-bottom: 20px;
  }

  .and {
    height: 1px;
    width: 50px;
    background-color: black;
    opacity: 0.5;
  }

  .and-o {
    height: 1px;
    width: 50px;
    background-color: black;
    opacity: 1;
  }

  #firstblock {
    max-width: 65%;
  }


#form {
    max-width: 35%;
}

.a-link {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
}

.br-10 {
    border-radius: 10px;
}

.bgand-host {
    background-color: bisque;
}
 






