/* UTILITIES */
:root {
    --air-red :#FF3858;
}

.air-red-bg {
    background-color: var(--air-red);
}

.container-fluid-max {
    max-width: 1920px;
}

/* HEADER */
body.pagina-1 .navbar-nav li a,
body.pagina-1 .navbar-nav li a.active {
    color:white;
}

body.pagina-1 .dropdown-menu li a {color:initial;}

body.pagina-1.scrolled .navbar-nav li a,
body.pagina-1.scrolled .navbar-nav li a.active {
    color:initial;
}

body .navbar-brand svg path {
    transition: all .5s ease-in-out .5s;
}

body.scrolled .navbar-brand svg path {
    fill:var(--air-red);
    transition: all .5s ease-in-out .5s;
}

header.bg-white {
    transition: all 1s ease-in-out .5s, transform 1s ease-in-out; 
}

.big-searchbar {
    opacity: 1;
    height: 100%;
    transform: translateY(0);
    transition: all 1s ease-in-out, transform 1s ease-in-out;
}

.big-searchbar.hide-me  {
    opacity: 0;
    height: 0;
    transform: translateY(-50px); 
}

.big-searchbar .form-wrapper {
    border: 50%;
    border: 1px solid #eee;
}

.form-element,
.form-element form.rounded-0 {
    background-color: #ffffff;
    transition: background-color .5s ease-in-out;
}

.form-element:hover,
.form-element:hover form.rounded-0 {
    background-color: #eeeeee!important;
}


/* HOME */
.hero-setion {
    min-height: 75vh;
    background-color: black;
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-position: center;
}

.imm-an {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
}

/* MAIN */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.titCard{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 0;
}
.descrizione{
    font-size: small;
    color: grey;
    margin-bottom: 0;
}
.voto svg{
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}


 






