.vh-45 {
    height: 45vh;
}

.w-48 {
    width: 49.5%;
}

.h-48 {
    height: 49%;
}

.pr-2 {
    margin-right: 0.5%;
}

.ma-2 {
    margin-bottom: 1%;
}

#firstblock {
    max-width: 70%;
}

#form {
    
    position: sticky;

}
 






